[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
structlog = "*"
psycopg2-binary = "*"
uvicorn = "*"
python-multipart = "*"
aiofiles = "*"
grpcio = "*"
grpcio-tools = "*"
protobuf = "*"
aiohttp = "*"
click = "*"
async-timeout = "*"
exceptiongroup = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
