aws_region = "us-east-1"
key_name   = "my-ec2-keypair"

git_repo_url = "https://github.com/youruser/p2p-grpc-rest.git"
git_branch   = "main"

db_name     = "p2pdb"
db_username = "p2puser"
db_password = "CHANGEME_STRONG_PASSWORD"

instance_type_default = "t3.micro"
peers_count           = 4
peer_rest_base_port   = 8001
